<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing
    elit. Dolor tenetur minus at porro accusamus dignissimos,
    doloribus cum velit deleniti sint modi quidem omni
    commodi, suscipit nam odio qui nostrum quod. Lorem
    lor, sit amet consectetur adipisicing elit. Quod,
    minus, molestias iusto quidem sit saepe eum consequuntur
     quibusdam mollitia deleniti delectus expedita suscipit,
     vitae exercitationem. Quasi illo laboriosam esse nisi.</p>
</article>
